<style>
  .new-contest-form {
    font-family: 'Cormorant', serif;
    color: #301934;
    background-color: #fff5e5;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .new-contest-form h1 {
    text-align: center;
    color: #5D4037;
  }

  .new-contest-form input, .new-contest-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #8e6e53;
    border-radius: 4px;
    background-color: #f4e3be;
  }

  .new-contest-form .btn-primary {
    background-color: #7c3f2d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-weight: bold;
    display: block;
    width: 100%;
  }

  .new-contest-form .btn-primary:hover {
    background-color: darken(#7c3f2d, 10%);
  }

    .back-to-contests-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #94785e; /* Different color for the back link */
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
  }

  .back-to-contests-link:hover {
    background-color: #a17455; /* Darker shade on hover */
  }
</style>

<div class="new-contest-form">
  <h1>New Contest</h1>

  <%= bootstrap_form_with model: @contest, url: contests_path, method: :post, data: { turbo: false } do |form| %>
    <%= form.text_field :title, label: 'Contest Title' %>
    <%= form.text_area :desc, rows: 16, label: 'Description' %>
    <%= form.file_field :image, label: 'Contest Image' %>
    <%= form.datetime_field :end_date, label: 'End Date' %>
    <%= form.submit 'Create Contest', class: 'btn btn-primary my-3' %>
  <% end %>

  <div class="back-to-contests-link">
    <%= link_to "Back to contests", contests_path %>
  </div>
</div>
